@model SummonersGift.Data.RiotTypes.Summoner

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>SummonerInformation</h2>

<p>Welcome: @Model.Name</p>

<p>You are level: @Model.SummonerLevel</p>

<p>And were last active on: @Model.RevisionDate</p>
