<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <add name="sgmegadb" connectionString = "<db_sgmegadb_connection_string>" providerName="<db_sgmegadb_provider_name>" />
    <add name="sgdb" connectionString = "<db_sgdb_connection_string>" providerName="<db_sgdb_provider_name>" />
	<add name="devApiKey" connectionString = "<lol_dev_key" />
	<add name="prodApiKey" connectionString= "<lol_prod_key>" />
</connectionStrings>