@model SummonersGift.Models.View.SummonerSearch

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Welcome, Summoner</h3>

<p>Lookup summoner by name and region.</p>

@using (Html.BeginRouteForm("SummonerByName", new { controller = "SummonerByName" }, FormMethod.Get))
{
    <p>Region</p>
    <p>@Html.TextBoxFor(x => x.region)</p>
    <p>Summoner Name</p>
    <p>@Html.TextBoxFor(x => x.name)</p>
    <p><input type="submit" name="search" value="Search" /></p>
}