@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <br />
    <p>For all queries contact summonersgiftlol at <span style="display:none">[*)((</span>gmail.</p>
    <p>Feel free to tweet us <a href="https://twitter.com/SummonersGift">@@SummonersGift</a> </p>
</address>