
@model SummonersGift.Models.View.SummonerSearch

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Summoner's Gift</h1>
    <p class="lead">
    We want to show you what's underneath all of that League of Legends
    data. What's your play-style? What do you do differently? What games are you likely
    to win?
    </p>
    <p>What does your data say about you...
    </p>
    @Html.ActionLink("Summoner lookup", "/../Summoner")
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Summoner Statistics</h2>
        <p>
            Get detailed statistics on summoners broken down by rank.
        </p>
        <p><a class="btn btn-default" href="/Summoner">Learn more &raquo;</a></p>
    </div>
</div>