body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Match history styling */

div.matchItem {
    margin: 10px auto 10px auto;
    padding: 10px;
    border-style: solid;
    border-color: black;
    display: block;
    height: 160px;
    width: 800px;
    
}

.won.matchItem {
    aabackground: url("../Images/victory.png") no-repeat center center;
    background-color: #94FFDB;
    background-size: cover;
    background-repeat: no-repeat;
}

div.lost.matchItem {
    aabackground: url("../Images/defeat.png") no-repeat center center;
    background-color: #FF8080;
    background-size: cover;
    background-repeat: no-repeat;
}

.matchItem div.leftPanel {
    float: left;
    margin: auto;
    padding: 5px;
    background-color: darkred;
}

.matchItem div.middlePanel {
    padding: 5px;
    float: left;
    width: auto;
    background-color: blue;
}

.matchItem div.rightPanel {
    display: block;
    float: right;
    padding: 5px;
    position: relative;
    height: 160px;
    width: auto;
    background-color: darkred;
}

.matchItem div.champName {
    font-size: 30px;
    float: top;
}

.matchItem div.spell {
    display: inline;
    margin-bottom: 5px;
    margin-top: 40px;
}

.matchItem div.kda {
    font-size: 22px;
}

.matchItem span.matchTime {
    position: absolute;
    padding: 10px;
    bottom: 10px;
    white-space: nowrap;
}

div.statTable {
    margin: 20px;

}

div.statTable td, div.statTable th {
    padding-left: 3px;
    padding-right: 3px;
}
